{{extend 'layout.html'}}
<div align="center">
	<button  onclick="document.location='{{=URL(r=request,f='view_project',args=project.id)}}';">
		<h1>{{=project.title}}
		</h1>
	</button>
	<br/>
	<br/>
	<h3>Project Admin:</h3>
	{{user=db(db.auth_user.id==project.created_by).select().first()}}
	<a href="{{=URL("view_projects_by_author",args=project.modified_by)}}"> {{=author(project.created_by).upper()}}</a>

	<br/>
	<style type="text/css">
h3,h2 { display: inline; }
	</style>
	</div>
</br>
{{if len(row)!=0:}}
Which Collaborator do you want to Delete??

{{for some in row:}}
<h3>
{{=LI(A(some.other_email, _href=URL("confirm_delcollo",args=some.id)))}}
</h3>
{{pass}}
{{else:}}
<blink><h2>Sorry, you have no collaborators!</h2></blink>
<br/>
<button  onclick="document.location='{{=URL(r=request,f='addcollo',args=project.id)}}';">Add Collaborators</button>
{{pass}}


