{{extend 'layout.html'}}
<style>
.cate{
	border-radius: 10px;
	border: 2px solid #73AD21;
	width: 230px;
	height: 35px;
	text-align:center;
	color:white;
	background-color:green;

}
.anu{
	color:white;
	text-decoration:none;
}
.anu:hover
{
	color:white;
	text-decoration:none;
}

.rendering {
}
.column {
	float:left;
	padding-left:10pt;
}
.column1{
	float:right;
}

.clear {
	clear: both;   
}
.table_class
{
	width:100%;
}
.image_class
{
	padding-left:20px;
	height:250px;
	width:250px;
	padding-right:0px;
	margin-right:0px;
}
.class_title
{
	padding-left:20px;
	font-size:16px;
	margin-left:10px;
}
.title_name{
	text-transform:capitalize;
	color:red;
	font-size:25px;
}
.capi{
	text-transform:capitalize;
}
</style>
<div class="well" align="center">
	<h2>Projects Under Sub-category	"{{=sub_id.upper()}}"</h2>
</div>
{{for row in projects:}}
{{no_of_commenters=db(db.comments.project==row.id).count()}}
{{reviews_rating=db(db.comments.project==row.id).select()}}
{{score=0}}
{{for review in reviews_rating:}}
{{score=score+review.rating}}
{{pass}}
{{score1=0}}
{{score=float(score)}}
{{if no_of_commenters !=0:}}
{{no_of_commenters=float(no_of_commenters)}}
{{score1=float(score/no_of_commenters)}}
{{db(db.project.id==row.id).update(rating=score1)}}
{{db(db.project.id==row.id).update(commenters=no_of_commenters)}}
{{pass}}

<div class="table_class">
	<table class="table" >
		<tr style="height:90px;width:100%;">
			<td colspan="2">
				<div class="rendering">
					<div class="column">
						<a href="{{=URL('view_project',args=[row.id])}}" title="More About {{=row.title}}">
							<img  src="{{=URL('download',args=row.logo)}}" height="60px" width="60px">
						</a>
					</div>
					<div class="column">
						<span>	<h1 class="capi">
								<a href="{{=URL('view_project',args=[row.id])}}" title="More About {{=row.title}}">
									{{=row.title}} 
								</a>
						</h1></span>
					</div>
					<div class="column1"><span><h3 class="cate">
								<a class="anu" href="{{=URL('view_projects_by_datetime',args=row.category.name)}}" title="More About {{=row.category.name}}">

									{{=row.category.name}}</a></h3></span></div>
					<div class="column1"><span><h3 class="cate">
								<a class="anu" href="#" title="Type Of Project">                          
									{{=row.permissions}}</a></h3></span></div>

				</div>  


			</div>  
		</div>
	</td>
</tr>
<tr style="height:150px;width:100%;">
	<td>
		<img class="image_class" src="{{=URL('download',args=row.image)}}" alt="Screen Shot" />
	</td>
	<td class="class_title" style="width:100%;">
		{{info=(row.body[:400] + '...') if len(row.body) > 400 else row.body}}
		<h3>{{=info}}
			<a href="{{=URL('default','view_project',args=row.id)}}" title="More About {{=row.title}}">
				<span style="color:OrangeRed;">
					See More</span></a></h3>
		<br/>
		<strong>Project was Shared By </strong> 
		<span class="title_name">
			<a href="{{=URL("view_projects_by_author",args=row.created_by)}}"> {{=author(row.created_by).upper()}}</a>

		</span><br>	
		<strong>Last Updated On:</strong>{{=row.modified_on.date()}}
		<div class="rendering">
			<div class="column"><h3><strong>{{=row.rating}} Rating</strong></h3></div>
		<div class="column1"><span>	
			<button onclick="location.href='{{=URL('download1',args=(row.id,row.files))}}';" class="btn btn-success btn-lg" type="button"> Download Now</button>		
	</span></div>
		</div>



	</td>
</tr>
</table>
</div>
{{pass}}


{{if page>0:}}
<div  >
{{=A('Previous Page',_class='next',_href=URL(args=(page-1)))}}
</div>
{{pass}}
{{if len(projects)>=6 and len(give)!=stop:}}
<div  align="right">
{{=A('Next Page',_class='next',_href=URL(args=(page+1)))}}
{{pass}}
</div>

